.activelinks{
    color: #211951;
    width: 80%;
    background-color:#B5C0D0;
    justify-content: center;
    border-radius: 10px;
    }

    .links{
        display: flex;
        flex-direction: row;
        /* border-radius: 10px; */
        padding: 10px;     
    }