@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text:#C58940;
  --backGround:#FAEAB1;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: var(--text);
  background-color:var(--backGround)
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.container{
  display: flex;
   align-items: center;
   justify-content: space-between;  
   text-align: left
   
    /* min-w-full min-h-full */
}

.containerlayout{
  min-width: 100vw;
  margin: auto;
  
}

.maincontent{
  min-width: 100vw;
  margin: auto;
  text-align: center;
}
